body{
	margin:0;
}

.header-area{
	background-color: #87509c;
	width:100%;
	height:700px;
	position: relative;
}
.header-area img{
	margin-top:35px;
}
.header ul{
	float: right;
	padding:40px 18px;
}
.header li{
	list-style-type: none;
	display: inline-block;
	

}
.list{
	background-color: #643a79;
	padding:5px 5px;
}

.header li a{
	margin:10px 10px;
	color:#e7dceb;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	font-weight:500;
}
.header-bottom{
	text-align: center;
	position: absolute;
	top:40%;
	left:25%;
}
.header-bottom p{
	font-size:42px;
  font-family: "TitilliumWeb";
  color: #f7f3ea;
  font-weight: bold;
  line-height: 1.158;
  text-align: center;
  text-transform: capitalize;
 
}
.header-bottom button{
	background-color: #eb7d4b;
	padding:20px 60px;
	border:none;
	border-radius: 10px;
	font-size: 18px;
	font-family: semi-bold;
	color:#ffffff;
	margin-top:30px;
}
.service-area{
	background-color:#17c2a4;
	height: 750px;
}
.services{
	text-align: center;
}
.services h1{
	font-family: "TitilliumWeb";
	font-weight: bold;
	font-size: 40px;
	color:#ffffff;
	text-transform: uppercase;
	margin-top:100px;
}
.services p{
	font-size: 18px;
	font-family: "TitilliumWeb";
	color:#ffffff;
	margin-top:15px;
}

.service-2{
	text-align: center;
}

.service-2 img{
	margin:50px 5px;
}
.service-2 h3{
	font-family: "TitilliumWeb" sans-serif;
	font-weight: bold;
	font-size: 24px;
	color:white;
	letter-spacing:1px;
	margin-bottom: 20px;
}

.service-2 p{
	color:#e0f7f3;
	font-size: 16px;
	font-family: "TitilliumWeb";
}
.teams{
	text-align: center;
	margin: 50px 10px;
	margin:70px 5px;
}
.teams h1{
	font-size: 41px;
	font-family: "TitilliumWeb" sans-serif;
	font-weight: bold;
	color:#3c4761;
	letter-spacing: 2px;
}

.teams p{
	font-size: 19px;
	color:#3c4761;
	margin:30px 10px;
}

.team-area {
	background-color:#e7f1f8;
	height:920px;
}
.team-1{
	text-align: center;
}
.team-1 img{
	width:90%;
	border-radius: 50%;
	margin-bottom:40px;
	height:45%;
}

.team-1 h1{
	font-size:24px;
	color:#27283d;
	font-family: "TitilliumWeb" sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.team-1 h6{
	font-family:"TitilliumWeb" sans-serif;
	font-size: 18px;
	color:#48c1e9;
}

.team-1 p{
	color:#47526b;
	font-size: 16px;
	font-family: "TitilliumWeb" sans-serif;
	margin:10px 5px;
}

.skill-area{
	height:660px;
}
.skill-1{
	text-align: center;
	width:100%;
	background-color:#ffffff;
	padding-top:100px;
	padding:50px;
}
.skill-1 h1{
	padding-bottom: 20px;
	color:#3c4761;
	font-size: 40px;
	font-family: "TitilliumWeb" sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
.skill-1 p{
	font-size: 18px;
	color:#566076;
	font-family:"TitilliumWeb" sans-serif;
	font-weight:500;
	letter-spacing: 1px;
}
.skill-area img{
	
}
.skill-2{
	text-align: center;
	/*padding-top:10px;*/
}
.skill-2 h4{
	padding:25px 4px;
	color:#3c4761;
	font-size:24px;
	font-family:"TitilliumWeb" sans-serif;
	font-weight: bold;
}

.portfolio-area{
	height: 1400px;
	background-color: #ffdd99;
	position: relative;
}


.portfolio{
	text-align: center;
	padding-top:100px;
}
.portfolio h1{
	color:#393939;
	font-size: #393939;
	font-family: "TitilliumWeb" sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
.portfolio p{
	font-size: 18px;
	font-family: "TitilliumWeb";
	color:#534f46;
}
#all{
	background-color:#ebc985;
	border:none;
	padding:8px 20px;
	color:red;
	font-size: 18px;
	color: #393939;
}
#web{
	background-color:#ebc985;
	border:none;
	padding:8px 20px;
	color:red;
	font-size: 18px;
	color: #393939;
}
#app{
	background-color:#ebc985;
	border:none;
	padding:8px 20px;
	color:red;
	font-size: 18px;
	color: #393939;
}
#icon{
	background-color:#ebc985;
	border:none;
	padding:8px 20px;
	color:red;
	font-size: 18px;
	color: #393939;
}

.portfolio-1{
	text-align: center;
	padding-top:60px;
	
}
.portfolio-1 h5{
	padding:20px 0;
	font-size: 18px;
	color: #615a4c;
	font-family: "TitilliumWeb" sans-serif;
}
.btn{
	position: absolute;
	top:90%;
	left:42%;
	background-color:#17c2a4;
	width:292px;
	height: 68px;
	color:#ffffff;
	font-family: "TitilliumWeb" semi-bold;
	font-size: 18px;
	box-shadow:10px #14a58c;
	border:none;
}
.test-area{
	background-color: #d74680;
	height:895px;
}
.test{
	text-align: center;
	padding-top:100px;
	color:#fff;
}
.test h1{
	font-size:36px; 
	color:#fff;
	font-family: "TitilliumWeb" sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	padding-bottom: 12px;
	word-spacing: 2px;
}
.test p{
	font-size: 25px;
}
.test-1{
	display: flex;
}

.test-1 img{
	width: 30%;
	/*height:50%;*/
	border-radius: 50%;
	height:50%;
	margin-top: 20px;
}
.test-2{
	margin-left: 90px;
	margin-top: 40px;
}
.test-2 p{
	font-size: 21px;
	font-family: "TitilliumWeb" sans-serif;
	color:#fcf3f7;
}
.test-2 h4{
	font-size: 24px;
	font-family: "TitilliumWeb" sans-serif;
	font-weight: bold;
	color:#ffffff;
}
.test-2 h5{
	color:#fac996;
	font-size: 18px;
}
.touch-area{
	background-color:#3c5499;
	height:820px;
}
.touch{
	text-align: center;
	padding:50px 0;
}
.touch h1{
	font-size: 40px;
	color:#fff;
	font-family: "TitilliumWeb" sans-serif;
	font-weight:bold;
	letter-spacing:3px;
	word-spacing: 2px;

}
.touch p{
	font-size:22px;
	color:#fff;
	font-family: "TitilliumWeb" sans-serif;
	padding-top:30px;

}
.form input{
	width:425px;
	height:75px;
	background-color:#273a71;
	border:none;
	margin:10px 10px;
}
input::placeholder{
	color: #ffffff;
	padding:10px 30px;
	font-size: 18px;
}
#input{
	width:875px;
	height:200px;
}

.form-area{
	padding-left:110px;
	
}
.touch-bottom{
	position:relative;
}
#button{
	position: relative;
	top:10%;
	left:44%;
	width:295px;
	height:70px;
	background-color: #30bae7;
	color:#ffffff;
	font-family: "TitilliumWeb" sans-serif;
	font-size: 20px;
}








/*jquwery plugin-area*/
svg.radial-progress {
  height: auto;
  max-width: 270px;
  padding: 1em;
  transform: rotate(-90deg);
  width:100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke:#fff;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity:0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}

svg.web circle {
	fill: #fff;
	stroke: #30bae7;
	stroke-width:8;
}

svg.web circle.incomplete{
	stroke:#dfe8ed;
	stroke-width:8;
}

svg.web text {
  fill: #3c4761;
  text-anchor: middle;
  font-weight: bold
}

svg.html circle {
	fill: #fff;
	stroke: #d74680;
	stroke-width:8;
}

svg.html circle.incomplete{
	stroke:#dfe8ed;
	stroke-width:8;
}

svg.html text {
  fill: #3c4761;
  text-anchor: middle;
  font-weight: bold
}

svg.grapic circle {
	fill: #fff;
	stroke:#15c7a8;
	stroke-width:8;
}

svg.grapic circle.incomplete{
	fill:#fff;
	stroke:#dfe8ed;
	/*stroke-width:8;*/
}

svg.grapic text {
  fill: #3c4761;
  text-anchor: middle;
  font-weight: bold
}
svg.ui circle {
	fill: #fff;
	stroke:#eb7d4b;
	stroke-width:8;
}

svg.ui circle.incomplete{
	fill:#fff;
	stroke:#dfe8ed;
	/*stroke-width:8;*/
}

svg.ui text {
  fill: #3c4761;
  text-anchor: middle;
  font-weight: bold
}